h1{
    text-align: center;
    font-family:verdana,genefa,tahoma,sans-serif ;
    color: aquamarine;
}
body{
    background-color: rgb(168, 159, 159);
}
p{
    text-align:center ;
}
.nama lengkap{
    color: rgb(71, 11, 11);
}
 p{text-align:center;

 }   

